<nav class="navbar navbar-expand-lg navbar-primary fixed-top" style="background-color: #3E4095;">
    <div class="container-fluid">
        <span class="navbar-brand mb-0 h1" style="color: white;">Refinancing Top up</span>
    </div>
</nav>
<div class="row mt-5">
    <div class="text-center mt-1">
        <img src="/assets/img/logo.png" class="p-3" style="height: 200px; width: 200px;">
    </div>
    <div style="background-color: white; text-align: center; font-size: small;">
        <label for="">Perhtungan simulasi kredit per : Jumat, 18 Februari 2022</label>
    </div>
    <div class="mt-3"><label for="">Refinancing Top up Tenor 12 bulan </label>
        <div class="form-floating ">
            <input type="text" class="form-control" id="floatingInput" value="Rp 200.000.000">
            <label for="">OTR saat ini</label>
        </div>
        <label for="">Uang Muka</label>
        <div class="form-floating">
            <input type="text" class="form-control" id="floatingInput" value="30%">
            <label for="">Persentase</label>
        </div>
        <div class="form-floating">
            <input type="text" class="form-control" id="floatingInput" value="Rp 200.000.000">
            <label for="">Nominal</label>
        </div>
        <label for="">Dana</label>
        <div class="form-floating">
            <input type="text" class="form-control" id="floatingInput" value="Rp 117.755.100">
            <label for="">Dana cair</label>
        </div>
        <div class="form-floating">
            <input type="text" class="form-control" id="floatingInput" value="Rp 12.395.900">
            <label for="">Angsuran</label>
        </div>
        <label for="">Dana Cair setelah dihitung dari pokok hutang</label>
        <div class="form-floating">
            <input type="text" class="form-control" id="floatingInput" value="Rp 30.000.000">
            <label for="">Sisa pokok hutang</label>
        </div>
        <div class="form-floating">
            <input type="text" class="form-control" id="floatingInput" value="Rp 87.755.100">
            <label for="">Dana cair</label>
        </div>
    </div>
    <div>

    </div>
    <div>
        <div class="text-center p-1 d-grid gap-2 mt-3">
            <a routerLink="/form">
                <button type="button" class="btn form-control" style="background-color: #3E4095; color: white;">SUBMIT</button>
            </a>
        </div>
        <div class="text-center mb-3 p-1 d-grid gap-2">
            <a routerLink="/thanks">
                <button type="button" class="btn btn-secondary form-control">KEMBALI</button>
            </a>
        </div>
    </div>
</div>