<nav class="navbar navbar-expand-lg navbar-primary fixed-top" style="background-color: #3E4095;">
    <div class="container-fluid">
        <span class="navbar-brand mb-0 h1" style="color: white;">Refinancing Top up</span>
    </div>
</nav>
<div class="row mt-5">
    <div class="text-center mt-1">
        <img src="/assets/img/logo.png" class="p-3" style="height: 200px; width: 200px;">
    </div>
    <div>
        <table datatable="ng" class="table table-bordered">
            <thead>
                <tr>
                    <td>No</td>
                    <td>No Kontrak</td>
                    <td>Nama</td>
                    <td>No Telp</td>
                    <td>Alamat</td>
                    <td>OTR</td>
                    <td>Tenor</td>
                    <td>Angsuran</td>
                    <td>Asuransi</td>
                    <td>Tanggal</td>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let isi of data;">
                    <td style="text-align: center;">{{isi.id}}</td>
                    <td style="text-align: left;">{{isi.konsumen_nokontrak}}</td>
                    <td style="text-align: left;">{{isi.konsumen_nama}}</td>
                    <td style="text-align: left;">{{isi.konsumen_alamat}}</td>
                    <td style="text-align: left;">{{isi.konsumen_noHP}}</td>
                    <td style="text-align: left;">{{isi.otr}}</td>
                    <td style="text-align: left;">{{isi.tenor}}</td>
                    <td style="text-align: left;">{{isi.angsuran}}</td>
                    <td style="text-align: left;">{{isi.jenisAsuransi}}</td>
                    <td style="text-align: left;">{{isi.waktu_booking}}</td>
                </tr>
            </tbody>
        </table>
    </div>


</div>