<nav class="navbar navbar-expand-lg navbar-primary fixed-top" style="background-color: #3E4095;">
    <div class="container-fluid">
        <span class="navbar-brand mb-0 h1" style="color: white;">Refinancing Top up</span>
    </div>
</nav>
<div class="row mt-5">
    <div class="text-center mt-1">
        <img src="/assets/img/logo.png" class="p-3" style="height: 200px; width: 200px;">
    </div>
    <div style="background-color: white; text-align: center; font-size: small;">
        <label for="">Perhtungan simulasi kredit per : {{time}}</label>
    </div>
    <div class="mt-3">
        <label for="">Pilih masa tenor</label>
    </div>
    <div>
        <table class="table" style="font-size: small;">
            <thead style="background-color: white;">
                <tr>
                    <th scope="col">TENOR</th>
                    <th scope="col">DANA CAIR</th>
                    <th scope="col">ANGSURAN</th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngIf="simulasi12">
                    <td>{{simulasi12.tenor}} bulan</td>
                    <td>{{simulasi12.danaCairMinET | currency:'Rp ':'symbol':'3.0'}}</td>
                    <td>{{simulasi12.angsuran | currency:'Rp ':'symbol':'3.0'}}</td>
                    <a [routerLink]="['/form', pilihAsuransi, simulasi12.tenor]" style="color: black;">
                        <td>
                            <!-- <i class="fa fa-angle-right"></i> -->
                            <button type="button" class="btn btn-primary btn-sm" style="background-color: #3E4095; color: white;">Pilih</button>
                        </td>
                    </a>
                </tr>
                <tr *ngIf="simulasi24">
                    <td>{{simulasi24.tenor}} bulan</td>
                    <td>{{simulasi24.danaCairMinET | currency:'Rp ':'symbol':'3.0'}}</td>
                    <td>{{simulasi24.angsuran | currency:'Rp ':'symbol':'3.0'}}</td>
                    <a [routerLink]="['/form', pilihAsuransi, simulasi24.tenor]" style="color: black;">
                        <td>
                            <!-- <i class="fa fa-angle-right"></i> -->
                            <button type="button" class="btn btn-primary btn-sm" style="background-color: #3E4095; color: white;">Pilih</button>
                        </td>
                    </a>
                </tr>
                <tr *ngIf="simulasi36">
                    <td>{{simulasi36.tenor}} bulan</td>
                    <td>{{simulasi36.danaCairMinET | currency:'Rp ':'symbol':'3.0'}}</td>
                    <td>{{simulasi36.angsuran | currency:'Rp ':'symbol':'3.0'}}</td>
                    <a [routerLink]="['/form', pilihAsuransi, simulasi36.tenor]" style="color: black;">
                        <td>
                            <!-- <i class="fa fa-angle-right"></i> -->
                            <button type="button" class="btn btn-primary btn-sm" style="background-color: #3E4095; color: white;">Pilih</button>
                        </td>
                    </a>
                </tr>
                <tr *ngIf="simulasi48">
                    <td>{{simulasi48.tenor}} bulan</td>
                    <td>{{simulasi48.danaCairMinET | currency:'Rp ':'symbol':'3.0'}}</td>
                    <td>{{simulasi48.angsuran | currency:'Rp ':'symbol':'3.0'}}</td>
                    <a [routerLink]="['/form', pilihAsuransi, simulasi48.tenor]" style="color: black;">
                        <td>
                            <!-- <i class="fa fa-angle-right"></i> -->
                            <button type="button" class="btn btn-primary btn-sm" style="background-color: #3E4095; color: white;">Pilih</button>
                        </td>
                    </a>
                </tr>
            </tbody>
        </table>
    </div>
    <!-- <div>
        <form [formGroup]="simulasiForm">
            <label for="">Masukan dana cair sesuai kebutuhan anda</label>
            <div class="form-floating mb-1">
                <input type="number" class="form-control" id="floatingInput" formControlName="getnominal">
                <label for="">Nominal</label>
            </div>
            <div class="form-floating mb-1">
                <select class="form-select" id="floatingSelect" aria-label="Floating label select example" #tenor (change)="dataSimulasiNew(tenor.value)">
              <option value=12>12 bulan</option>
              <option value=24>24 bulan</option>
              <option value=36>36 bulan</option>
              <option value=48>48 bulan</option>
            </select>
                <label for="floatingSelect">Tenor</label>
            </div>
        </form>
        <div class="form-floating mb-1">
            <input type="text" class="form-control" id="floatingInput" placeholder="081..." ngModel="{{simulasiNew | currency:'Rp ':'symbol':'3.0'}}">
            <label for="">Angsuran</label>
        </div>

    </div>
    <div class="" style="position: fixed; bottom: 0; left: 0;">
        <div class="text-center mb-3 p-1 d-grid gap-2">
            <a [routerLink]="['/datakendaraan', kontrak]">
                <button type="button" class="btn btn-secondary form-control">KEMBALI</button>
            </a>
        </div>
    </div> -->
</div>