<nav class="navbar navbar-expand-lg navbar-primary fixed-top" style="background-color: #3E4095;">
    <div class="container-fluid">
        <span class="navbar-brand mb-0 h1" style="color: white;">Refinancing Top up</span>
    </div>
</nav>
<div class="row mt-5">
    <div class="text-center mt-1">
        <img src="/assets/img/logo.png" class="p-3" style="height: 200px; width: 200px;">
    </div>
    <div>
        <form>
            <label for="">Isi Data</label>
            <div class="form-floating mb-2">
                <input type="text" class="form-control" id="floatingInput" placeholder="name@example.com">
                <label for="">Nama lengkap</label>
            </div>
            <div class="form-floating mb-2">
                <input type="number" class="form-control" id="floatingInput" placeholder="081...">
                <label for="">No telfon</label>
            </div>
            <label for="">Upload Dokumen</label>
            <div class="alert alert-primary " style="padding: 15px;margin-bottom: 5px;">
                KTP
                <i class="fa fa-upload" style="float:right;vertical-align: middle;margin-top: 2px;"></i>
            </div>
        </form>
    </div>
    <div class="" style="position: fixed; bottom: 0; left: 0;">
        <div class="text-center p-1 d-grid gap-2 mt-3">
            <a routerLink="/thanks">
                <button type="button" class="btn form-control" style="background-color: #3E4095; color: white;">SUBMIT</button>
            </a>
        </div>
        <div class="text-center mb-3 p-1 d-grid gap-2">
            <a routerLink="/detailhitungan">
                <button type="button" class="btn btn-secondary form-control">KEMBALI</button>
            </a>
        </div>

    </div>
</div>