<nav class="navbar navbar-expand-lg navbar-primary fixed-top" style="background-color: #4DAAB9;">
    <div class="container-fluid">
        <span class="navbar-brand mb-0 h1" style="color: white;">Selesai</span>
    </div>
</nav>
<div class="row mt-5">
    <div class="text-center mt-5">
        <img src="/assets/img/checklist.png" class="p-3" style="height: 200px; width: 200px;">
    </div>
    <div class="text-center mt-5" *ngIf="data">
        <h6>Nomor pengajuan anda adalah REF-{{data.id}}</h6>
        <h6>
            Terimaksih sudah melakukan pengajuan Refinancing Top up melalui FINA. Pengajuan akan segera di proses dan Anda akan segera di hubungi oleh tim Marketing
        </h6>
    </div>
    <div class="" style="position: fixed; bottom: 0; left: 0;">
        <div class="text-center p-1 d-grid gap-2 mt-3 mb-3">

            <button type="button" class="btn form-control" style="background-color: #3E4095; color: white;" (click)="this.close_window()">BACK TO HOME</button>

        </div>
    </div>
</div>